# Ignore system files
.DS_Store

# Ignore virtual environment
venv/

# Ignore VS Code settings
.vscode/

# Ignore large or unnecessary data files
Data/*.RData

# Ignore cache and temporary files
__pycache__/
*.tmp
